<%- include('../../partials/head.ejs') %> 
    <div class="container my-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
               <div class="card card-body">
                <section>
                    <h3><%= post.title %> </h3>
                    <div class="d-flex">
                        <small>
                            <%= moment(post.createdAt) %>,  
                            Posted By <a href="/author/<%= post.author._id %> "><%= post.author.profile.name %></a>, 
                            <%= post.readTime %> 
                        </small>
                        <% if(user) { %> 
                            <span class="ml-auto bookmark" id="bookmark" data-post="<%= post._id %>">
                                <% if(bookmarks.includes(post._id)) { %> 
                                    <i class="fas fa-bookmark"></i>
                                <% } else { %> 
                                    <i class="far fa-bookmark"></i>
                                <% } %> 
                            </span>
                        <% } %> 
                    </div>
                    <% if (post.thumbnail) { %> 
                        <img src="<%= post.thumbnail %> " alt="<%= post.title %>" class="img-fluid my-2">
                    <% } %> 

                    <section>
                        <%- post.body %> 
                    </section>

                    <section class="my-5">
                        <% if(!user) { %> 
                            <button class="btn btn-success btn-sm" disabled>
                                Like (<%= post.likes.length %> )
                            </button>
                            <button class="btn btn-danger btn-sm" disabled>
                                Dislike (<%= post.dislikes.length %> )
                            </button>
                            <p class="text-center text-muted mt-5">To Like And Comment Please <a href="/auth/login">Login</a></p>
                        <% } else { %> 
                            <button class="btn btn-success btn-sm" id="likeBtn" data-post="<%= post._id %>">
                                <%= post.likes.includes(user._id) ? 'Liked' : 'Like' %> ( <%= post.likes.length %> )
                            </button>
                            <button class="btn btn-danger btn-sm" id="dislikeBtn" data-post="<%= post._id %>">
                                <%= post.dislikes.includes(user._id) ? 'Disliked' : 'Dislike' %> ( <%= post.dislikes.length %> )
                            </button>
                            <div class="mt-5">
                                <label for="comment">Leave A Comment</label>
                                <input type="text" id="comment" class="form-control" placeholder="Write Something And Press Enter To Submit" data-post="<%= post._id %>">
                            </div>
                            <div class="mt-5" id="comment-holder">
                                <% if (post.comments.length === 0) { %> 
                                    <p class="text-center text-muted">There is no Comment</p>
                                <% } else { %>
                                    <% for (let comment of post.comments.reverse()) { %>
                                        <div class="media border">
                                            <img src="<%= comment.user.profilePic %> " alt="User Profile Picture" class="rounded-cicle mx-3 my-3" style="width: 40px;">
                                            <div class="media-body my-3">
                                                <p><%= comment.body %> </p>
                                                <div name="replies">
                                                    <% if(comment.replies.length > 0) { %>
                                                        <% for(let reply of comment.replies.reverse()) { %>
                                                            <div class="media border mt-3">
                                                                <img src="<%= reply.user.profilePic %> " alt="User Profile Picture" class="rounded-cicle align-self-start mr-3" style="width: 40px;">
                                                                <div class="media-body">
                                                                    <p><%= reply.body %> </p>
                                                                </div>
                                                            </div>    
                                                        <% } %> 
                                                    <% } %> 
                                                </div>
                                                <div class="my-3">
                                                    <input type="text" class="form-control" placeholder="Press Enter To Reply" name="reply" data-comment="<%= comment._id %>">
                                                </div>
                                            </div>
                                        </div>    
                                    <% } %> 
                                <% } %> 
                            </div>
                            
                        <% } %> 
                    </section>
                </section>
               </div>
                
            </div>
        </div>
    </div>

<%- include('../../partials/footer.ejs') %> 

<script src="/scripts/singlePage.js"></script>

<!-- <script src="/scripts/comment.js"></script>  
<script src="/scripts/likedislike.js"></script>  
<script src="/scripts/bookmarks.js"></script> -->

<!-- More than one script file doesn't work together in ejs file. reduce them into one script file  -->

</body>
</html>